body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #d8e3fe;
}

.header {
  display: flex;
  width: 1090px;
  align-items: center;
  background-color: #fff;
}

.logo {
  display: flex;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: #5e81fe;
  margin-right: 73px;
}

.navigation-list {
  display: flex;
}

.navigation-link {
  padding-top: 33px;
  padding-bottom: 33px;
  display: block;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697ca6;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #6188ff;
}

.navigation-item:not(:last-child) {
  margin-right: 42px;
}

.header-icon-list {
  display: flex;
  margin-left: auto;
  margin-right: 44px;
  justify-content: baseline;
}

.header-icon-item:not(:last-child) {
  margin-right: 38px;
}

.icon-header {
  fill: #b6bac7;
  transition-property: fill, transform;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.icon-header:hover,
.icon-header:focus {
  transform: scale(1.2);
  fill: #6188ff;
}

.icon-header.facebook {
  width: 9px;
  height: 17px;
}

.icon-header.telegram {
  width: 15px;
  height: 12px;
}

.icon-header.twitter {
  width: 16px;
  height: 14px;
}

.icon-header.m {
  width: 16px;
  height: 13px;
}

.header-btn {
  justify-content: right;
  width: 113px;
  height: 43px;
  background: #d2e1ff;
  border-radius: 2px;
  border: 0;
  color: #3a79ff;
  font-family: "Quicksand", sans-serif;
  font-style: 700;
  font-weight: 700;
  font-size: 13px;
  line-height: calc(16 / 13);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.header-btn:hover,
.header-btn:focus {
  cursor: pointer;
  background-color: #3a79ff;
  color: #fff;
}

.hero {
  background: url(../images/hero-bg.png),
    linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-div {
  padding-top: 92px;
  padding-bottom: 165px;
  position: relative;
}

.hero-second-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #3d4f9f;
  margin-bottom: 16px;
}

.hero-title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: calc(60 / 48);
  text-align: center;
  color: #3d4f9f;
  margin-bottom: 28px;
}

.hero-title-bold {
  font-weight: 500;
}

.hero-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: calc(29 / 15);
  text-align: center;
  letter-spacing: 0.03em;
  color: #8d96bd;
  margin-bottom: 20px;
}

.hero-btn {
  background-color: #fff;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: 0;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.hero-btn-icon {
  fill: #5e81ff;
  width: 10px;
  height: 11px;
  display: block;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #5e81fe;
}

.hero-btn:hover .hero-btn-icon,
.hero-btn:focus .hero-btn-icon {
  fill: #fff;
}

.hero-com-icon {
  width: 92px;
  height: 63px;
  position: absolute;
  bottom: 80px;
  left: 410px;
}

.underhero-icon {
  fill: #d6dae5;
  width: 117px;
  height: 28px;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.underhero-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-com-speed-icon {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 438px;
  bottom: 96px;
}

.underhero-section {
  background-color: #fff;
  padding-top: 61px;
  padding-bottom: 61px;
}

.underhero-icon-list-item {
  margin-right: 76px;
}

.underhero-icon-list-item:hover .underhero-icon,
.underhero-icon-list-item:focus .underhero-icon {
  fill: #5982e7;
}
